* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.parent {
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    width: 220px;
    height: 200px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* common circle */
.circle {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* image */
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

/* badge */
.badge {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid greenyellow;
    padding: 5px 10px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.4s ease;
    color: white;
}

/* hover effects */
.circle:hover {
    overflow: visible;
}

.circle:hover img {
    transform: scale(1.1);
}

.circle:hover .badge {
    top: -60px;
    opacity: 1;
}
